<!DOCTYPE html>
<html>
<head>
    <title>Konfiguration</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
    
<body>
    <div>
        <header class="page-header">
            <h1>Konfigurationen für User {{u[1]}} mit der ID: {{u[0]}}</h1>
        </header>
      
      <h1 class="one">
          Konfiguration
      </h1>
      
      <h1 class="two">
        Empfehlung
      </h1>

      <div class="field">
         <label>Geschlecht des Sprachassistenten</label>
         <select class="conf" name="gender" id="gender" value="{{c[1]}}">
             <option value="maennlich">männlich</option>
             <option value="weiblich">weiblich</option>
         </select>
          <p>
              {{r[0]}}
          </p>     
      </div><br>

      
      <div class="field">
        <label>Tonlage</label>
        <select class="conf" name="pitch" id="pitch">
            <option value="tief">tief</option>
            <option value="normal">normal</option>
            <option value="hoch">hoch</option>
        </select>
        <p>
            {{r[1]}}
        </p>
       </div><br>
      
      <div class="field">
        <label>Klang</label>
        <select class="conf" name="tone" id="tone">
            <option value="natuerlich">natürlich</option>
            <option value="synthetisch">synthetisch</option>
        </select>
        <p>
            {{r[2]}}
        </p>
      </div><br>

      <div class="field">
        <label>Lautstärke</label>
        <select name="volume" id="volume">
            <option value="1">1 (leise)</option>
            <option value="2">2</option>
            <option value="3">3 (mittel)</option>
            <option value="4">4</option>
            <option value="5">5 (laut)</option>
        </select>
        <p>
            {{r[3]}}
        </p>
      </div><br>

      <div class="field">
        <label>Sprache</label>
        <select name="language" id="language">
            <option value="Deutsch">Deutsch</option>
            <option value="Englisch">Englisch</option>
        </select>
        <p>
            {{r[4]}}
        </p>
      </div><br>

      <div class="field">
        <label>Gesprächsorientierung</label>
        <select name="topics" id="topics">
            <option value="Aufgaben orientiert">Aufgaben orientiert</option>
            <option value="Sozial orientiert">Sozial orientiert</option>
        </select>
        <p>
            {{r[5]}}
        </p>
      </div><br>

      <div class="field">
        <label>Anrede</label>
        <select name="form_of_address" id="form_of_address">
            <option value="Sie">Siezen</option>
            <option value="Du">Duzen</option>
        </select>
        <p>
            {{r[6]}}
        </p>
      </div><br>

      <div class="field">
        <label>Satzpause</label>
        <select name="pause" id="pause">
            <option value="keine">keine</option>
            <option value="kurz">kurz</option>
            <option value="lang">lang</option>
        </select>
        <p>
            {{r[7]}}
        </p>
      </div><br>

      <div class="field">
        <label>Sprechgeschwindigkeit</label>
        <select name="speed" id="speed">
            <option value="langsam">langsam</option>
            <option value="durchschnittlich">durchschnittlich</option>
        </select>
        <p>
            {{r[8]}}
        </p>
      </div><br>

      <div class="field">
        <label>Satzlänge</label>
        <select name="length" id="length">
            <option value="normal">normal</option>
            <option value="vereinfacht">vereinfacht</option>
        </select>
        <p>
            {{r[9]}}
        </p>
      </div><br>

      <div class="field">
        <label>vereinfachter Ausdruck</label>
        <select name="expression" id="expression">
            <option value="ja">ja</option>
            <option value="nein">nein</option>
        </select>
        <p>
            {{r[10]}}
        </p>
      </div><br>
      
      <div class="field">
        <label>Alternative Keywords</label>
        <input type="text" id="alternate_keywords" placeholder="mehrere Keywords mit ',' trennen" value="{{c[12]}}" required=""/><br><br>

      </div><br>
      <div class="button">
        <input type="submit" value="Submit" onclick="submit()"><br><br>
      </div>
        
    </div> 
    
    <script>
        if ("{{c[1]}}"=="maennlich"){document.getElementById("gender").value ="maennlich";}
        if ("{{c[1]}}"=="weiblich"){document.getElementById("gender").value ="weiblich";}

        if ("{{c[2]}}"=="tief"){document.getElementById("pitch").value ="tief";}
        if ("{{c[2]}}"=="normal"){document.getElementById("pitch").value ="normal";}
        if ("{{c[2]}}"=="hoch"){document.getElementById("pitch").value ="hoch";}

        if ("{{c[3]}}"=="natuerlich"){document.getElementById("tone").value ="natuerlich";}
        if ("{{c[3]}}"=="synthetisch"){document.getElementById("tone").value ="synthetisch";}

        if ("{{c[4]}}"=="1"){document.getElementById("volume").value ="1";}
        if ("{{c[4]}}"=="2"){document.getElementById("volume").value ="2";}
        if ("{{c[4]}}"=="3"){document.getElementById("volume").value ="3";}
        if ("{{c[4]}}"=="4"){document.getElementById("volume").value ="4";}
        if ("{{c[4]}}"=="5"){document.getElementById("volume").value ="5";}

        if ("{{c[5]}}"=="Deutsch"){document.getElementById("language").value ="Deutsch";}
        if ("{{c[5]}}"=="Englisch"){document.getElementById("language").value ="Englisch";}

        if ("{{c[6]}}"=="Aufgaben orientiert"){document.getElementById("topics").value ="Aufgaben orientiert";}
        if ("{{c[6]}}"=="Sozial orientiert"){document.getElementById("topics").value ="Sozial orientiert";}

        if ("{{c[7]}}"=="Sie"){document.getElementById("form_of_address").value ="Sie";}
        if ("{{c[7]}}"=="Du"){document.getElementById("form_of_address").value ="Du";}

        if ("{{c[8]}}"=="keine"){document.getElementById("pause").value ="keine";}
        if ("{{c[8]}}"=="kurz"){document.getElementById("pause").value ="kurz";}
        if ("{{c[8]}}"=="lang"){document.getElementById("pause").value ="lang";}

        if ("{{c[9]}}"=="langsam"){document.getElementById("speed").value ="langsam";}
        if ("{{c[9]}}"=="durchschnittlich"){document.getElementById("speed").value ="durchschnittlich";}

        if ("{{c[10]}}"=="normal"){document.getElementById("length").value ="normal";}
        if ("{{c[10]}}"=="vereinfacht"){document.getElementById("length").value ="vereinfacht";}

        if ("{{c[11]}}"=="ja"){document.getElementById("expression").value ="ja";}
        if ("{{c[11]}}"=="nein"){document.getElementById("expression").value ="nein";}

        if("{{c[12]}}"=="nan"){document.getElementById("alternate_keywords").value =""}


     </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
    function submit() {
        var gender = document.getElementById("gender").value
        var pitch = document.getElementById("pitch").value
        var tone = document.getElementById("tone").value
        var volume = document.getElementById("volume").value
        var language = document.getElementById("language").value
        var topics = document.getElementById("topics").value
        var form_of_address = document.getElementById("form_of_address").value
        var pause = document.getElementById("pause").value
        var speed = document.getElementById("speed").value
        var length = document.getElementById("length").value
        var expression = document.getElementById("expression").value
        var alternate_keywords = document.getElementById("alternate_keywords").value

        var user = {
            'userId': "{{u[0]}}",
            'gender': gender,
            'pitch': pitch,
            'tone': tone,
            'volume': volume,
            'language': language,
            'topics': topics,
            'form_of_address': form_of_address,
            'pause': pause,
            'speed' : speed,
            'length' : length,
            'expression': expression,
            'alternate_keywords' : alternate_keywords
            }
            
        $.ajax({
            type: "POST",
            url: "/save_config",
            contentType: "application/json",
            data: JSON.stringify(user),
            dataType: "json",
        }).done(function(result){
            console.log(result);
            document.getElementById("button").style.display = "block";
            document.getElementById("button").style.backgroundColor = "forestgreen";
            document.getElementById("demo").innerHTML = "Successfully submitted new configuration on ID: " + result.userId;
            });
        
    }
    </script>

</body>

</html>

